<div class="modal fade" id="modal-form-signup" tabindex="-1" role="dialog"
    aria-labelledby="modal-form-signup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-body p-0">
        <div class="card p-3 p-lg-4"><button type="button" class="btn-close ms-auto"
            data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center text-md-center mb-4 mt-md-0">
            <h1 class="mb-0 h4">Add Employee</h1>
            </div>
            <form action="{% url 'app3_employee_management:add_employee' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                <div>
                    {{form.as_p}}
                    <!-- <p>
                        <label for="id_designation">Designation:</label>
                        <select name="designation" class="form-control" type="text" required="required" id="id_designation">
                            {% for designation in designation_list %}
                                <option value="{{designation.id}}">{{designation.name}}</option>
                            {% endfor %}
                        </select>                   
                    </p> -->
                </div>
               
            <div class="d-grid">
                <button type="submit" class="btn btn-gray-800">Add Employee</button>
            </div>
            </form>
        
        </div>
        </div>
    </div>
    </div>
</div>

<!--search employee-->
<div class="modal fade" id="search_employee" tabindex="-1" role="dialog" aria-labelledby="modal-form-signup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card p-3 p-lg-4"><button type="button" class="btn-close ms-auto"
                    data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center text-md-center mb-4 mt-md-0">
                    <h1 class="mb-0 h4">Search Employee</h1>
                    <small class="mb-0" style="color: red;">Using Id, Contact, Name</small>
                    </div>
                    <form action="{% url 'app3_employee_management:employee_search' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.media}}
                        <div>
                            <input type="text" name="e_id" class="form-control" placeholder="Search By Id"/>
                            <center>OR</center>
                            <input type="text" name="query" class="form-control" placeholder="Search by Contact or name"/>
                        </div>
                        <br>
                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-gray-800">Search</button>
                    </div>
                    </form>
                
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Employee Filter-->
<div class="modal fade" id="employee_filter" tabindex="-1" role="dialog" aria-labelledby="modal-achievement" aria-hidden="true">
    <div class="modal-dialog modal-tertiary modal-dialog-centered" role="document">
        <div class="modal-content"><button type="button" class="btn-close theme-settings-close fs-6 ms-auto"
                data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-header mx-auto">
                <p class="lead mb-0 text-white">Select Employee Status</p>
            </div>
            <div class="modal-body pt-0">
            </div>
            <div class="modal-footer d-flex justify-content-center pt-0 pb-3">
                <a href="{% url 'app3_employee_management:employee_filter' 'active'%}"><button type="button"  class="btn btn-sm btn-success text-tertiary">Active</button></a>
                <a href="{% url 'app3_employee_management:employee_filter' 'inactive'%}"><button type="button"  class="btn btn-sm btn-danger text-tertiary">Inactive</button></a>
            </div>
        </div>
    </div>
</div>