<div class="modal fade" id="message_content{{message.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <small class="modal-title" id="exampleModalLabel">{{message.subject}}</small>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{message.message_body|safe}}
      </div>
      <hr>
      {% if message.file_data %}
      <center>
        <a href="{{message.file_data.url}}" download><i title="Download" class="bi bi-download" style="color:green;"></i></a>
        <a target="_blank" href="{{message.file_data.url}}"><i title="Open" class="bi bi-eye" style="color:red;"></i></a>
      </center>
      {% endif %}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>