{% extends 'master/master.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between align-items-center pb-2 pt-4 pb-md-4">
  <div>
    <a type="button" data-bs-toggle="modal" data-bs-target="#create_sms" class="btn btn-secondary d-inline-flex align-items-center mb-3 mb-md-0">
      <svg
          class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
          <path fill-rule="evenodd"
            d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
            clip-rule="evenodd"></path>
      </svg> Compose
    </a>
  </div>

  {% if request.user.is_staff == True %}
    <div class="dropdown-center">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-funnel-fill"></i> Filter
      </button>
      <ul class="dropdown-menu">
          <li><a class="dropdown-item active" target="_blank" href="{% url 'app7_rms:rms_filter' 'read' %}">Read</a></li>
          <li><a class="dropdown-item" target="_blank" href="{% url 'app7_rms:rms_filter' 'unread' %}">Unread</a></li>
          <li><a class="dropdown-item" target="_blank" href="{% url 'app7_rms:rms_filter' 'stared' %}">Important</a></li>
          <li><a class="dropdown-item" target="_blank" href="{% url 'app7_rms:rms_filter' 'recycle' %}">Recycle Bin</a></li>
      </ul>
    </div>
  {% endif %}


</div>

{% include 'snippets/alert.html' %}
{% for message in message_list %}
<div class="message-wrapper border-0 bg-white shadow rounded mb-4">
  <div class="card hover-state border-bottom rounded-0 rounded-top py-3">
    <div class="card-body d-flex align-items-center flex-wrap flex-lg-nowrap py-0">
      <div class="col-1 align-items-center px-0 d-none d-lg-flex">
        {{forloop.counter}}
      </div>
      <div class="col-10 col-lg-2 ps-0 ps-lg-3 pe-lg-3">
        <a href="#" class="d-flex align-items-center">
          {% if message.created_by %}
            <span
              class="h6 fw-bold mb-0">{{message.created_by.first_name}}
            </span>
          {% else %}
            <span
              class="h6 fw-bold mb-0">NO name
            </span>
          {% endif %}

        </a>
      </div>
      <div class="col-2 col-lg-2 d-flex align-items-center justify-content-end px-0 order-lg-4">
        <div class="text-muted small d-none d-lg-block">{{message.date_of_creation}}</div>
        <div class="dropdown ms-3"> 
            
          <i data-bs-toggle="modal" data-bs-target="#message_content{{message.id}}" class="bi bi-eye" title="read" style="color:green;"></i>
          
          <a href="{% url 'app7_rms:rms_operation' message.id 'read' %}"><i class="bi bi-clipboard2-check" title="mark-read" style="color:#c409cd;"></i>
          <a href="{% url 'app7_rms:rms_operation' message.id 'star' %}"><i class="bi bi-star-fill" title="important" style="color:#d9c30dbd;"></i>
          {% if message.add_to_recyle_bin == False %}
            <a href="{% url 'app7_rms:rms_operation' message.id 'recyle' %}"><i class="bi bi-trash" title="recycle bin" style="color: red;"></i>
          {% else %}
            <a href="{% url 'app7_rms:rms_operation' message.id 'delete' %}"><i class="bi bi-trash" title="recycle bin" style="color: red;"></i>
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-lg-7 d-flex align-items-center mt-3 mt-lg-0 ps-0">
        <a  class="fw-normal text-gray-600-900 truncate-text">
          <span class="fw-bold ps-lg-5">
            {{message.subject}}
          </span> 
        </a>
      </div>
    </div>
  </div>

</div>

{% include 'app7_rms/multi_modal.html'%}
{% endfor %}

{% include 'app7_rms/modals.html'%}
{% endblock content %}