    <div class="left-custom-menu-adp-wrap comment-scrollbar">
      <nav class="sidebar-nav left-sidebar-menu-pro">
        <ul class="metismenu" id="menu1">
          </li>
          <li>
            <a class="has-arrow" href="mailbox.html" aria-expanded="false"
              ><i class="icon nalika-mail icon-wrap"></i>
              <span class="mini-click-non"><i class="bi bi-people" style="color:red;"></i> User Manager</span></a
            >
            <ul class="submenu-angle" aria-expanded="false">
              <li>
                <a title="Inbox" href="mailbox.html"
                  ><span class="mini-sub-pro">Permissions</span></a
                >
              </li>
              <li>
                <a title="View Mail" href="mailbox-view.html"
                  ><span class="mini-sub-pro">Users</span></a
                >
              </li>
            </ul>

        </ul>
      </nav>
    </div>