    <div class="mobile-menu-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="mobile-menu">
              <nav id="dropdown">
                <ul class="mobile-menu-nav">

                  <li>
                    <a data-toggle="collapse" data-target="#demo" href="#"
                      > <i class="bi bi-people" style="color:red;"></i> User Manager
                      <span
                        class="admin-project-icon nalika-icon nalika-down-arrow"
                      ></span
                    ></a>
                    <ul id="demo" class="collapse dropdown-header-top">
                      <li><a href="mailbox.html">Permissions</a></li>
                      <li><a href="mailbox-view.html">Users</a></li>
                      
                    </ul>
                  </li>

                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>