{% extends 'master/master.html' %}
{% load static %}
{% block content %}
  <div class="py-4">

    <div class="d-flex justify-content-between w-100 flex-wrap">
      <div class="mb-3 mb-lg-0">
        <h1 class="h4">All User List</h1>
        
      </div>
      <div>
        

        <a href="{% url "app1_authentication:create_user" %}"
          class="btn btn-outline-gray-600 d-inline-flex align-items-center">
          <i class="bi bi-plus-circle-dotted" style="color:red;"></i>  Add User
        </a>
      </div>
      
    </div>
  </div>
  {% include 'snippets/alert.html'%}
  <div class="card border-0 shadow">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
          <thead class="thead-light">
            <tr>
              <th class="border-0 rounded-start">ID</th>
              <th class="border-0">Name</th>
              <th class="border-0">User-Name</th>
              <th class="border-0">Contact</th>
              <th class="border-0">Status</th>
              <th class="border-0">Settings</th>
              
            </tr>
          </thead>
          <tbody>
            {% for user in user_list %}
              <tr>
                <td class="border-0 fw-bold">{{user.id}}</td>
                <td class="border-0 fw-bold">{{user.first_name}} {{user.last_name}}</td>
                <td class="border-0 fw-bold">{{user.username}}</td>
                <td class="border-0 fw-bold">{{user.contact_number}}</td>
                <td class="border-0 fw-bold">
                  {% if user.is_active == True %}
                    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#active_inactive{{user.id}}">Active</button>
                  {% else %}
                    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#active_inactive{{user.id}}">Inactive</button>
                  {% endif %}
                </td>
                <td class="border-0 fw-bold">
                  <i class="bi bi-gear" title="settings" style="font-size: 22px;color: orangered;" data-bs-toggle="modal" data-bs-target="#permission{{user.id}}"></i>
                  <i class="bi bi-key" title="Password Change" style="font-size: 25px;color: orangered;" data-bs-toggle="modal" data-bs-target="#password_change{{user.id}}"></i>
                </td>
              </tr>
              {% include 'app1_authentication/users/modal.html'%}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>  
{% endblock content %}